* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #bbbbbb;
	padding: 20px 0;
}


.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}


nav {
	position: absolute;
	top: 110px;
	right: 0;
}


nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	transition: all 0.4s ease;
}

nav a:hover {
	color: red;
	text-decoration: underline;
}

.banner {
	width: 100%;
}

.principal {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
	background: #FEFEFE;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

/*.titulo-principal::second-letter {
	font-weight: bold;
}*/

/*.titulo-principal:before {
	content: "[ ";
}

.titulo-principal::after {
	content: " ]";
}*/

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 118px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#fefefefe, #888888);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	position: relative;
	padding: 3em 0;
	background: #888888;
}

.itens {
	line-height: 1.5em;
}

.itens::before {
	content: "★";
}

.itens:first-child {
	font-weight: bold;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 8px 8px 10px #000;
}

.imagem-beneficios:hover {
	opacity: 0.7;
}


.video {
	width: 560px;
	margin: 2em auto;
}



footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
	color: #fff;
}